*
!.gitignore
!.config
!.config/lf/
!.config/lf/*
!.config/x11/
!.config/x11/*
!.config/dunst/
!.config/dunst/*
!.config/fontconfig/
!.config/fontconfig/*
!.config/mimeapps.list
!.config/mpd/
!.config/mpd/mpd.conf
!.config/ncmpcpp/
!.config/ncmpcpp/*
!.config/nvim/
!.config/nvim/init.vim
!.config/shell/
!.config/shell/*
!.config/sxiv/
!.config/sxiv/exec/
!.config/sxiv/exec/key-handler
!.config/zathura/
!.config/zathura/zathurarc
!.config/zsh/.zshrc
!.config/pinentry/
!.config/pinentry/preexec
!.gnupg/
!.gnupg/private-keys-v1.d/
!.gnupg/private-keys-v1.d/readme.md
!.local
!.local/bin/
!.local/bin/*
!.local/bin/cron/*
!.local/bin/statusbar/*
!.local/bin/pulsejack/*
!.local/share/
!.local/share/input/
!.local/share/input/*
!.local/share/input/chars/
!.local/share/input/chars/*
!.local/share/applications/
!.local/share/applications/file.desktop
!.local/share/applications/img.desktop
!.local/share/applications/mail.desktop
!.local/share/applications/pdf.desktop
!.local/share/applications/rss.desktop
!.local/share/applications/text.desktop
!.local/share/applications/torrent.desktop
!.Xresources
!.bashrc
!.xinitrc
!.zprofile
